.left-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .item-button {
    padding: 0px 12px;
  }
}

.right-header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .item-button {
    padding: 0px 12px;
  }
}

.MenuTag{
  background-color: #f5f7f9;
  padding: 5px 20px;
  height: 38px;
}
